@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato/Lato-Black.woff2") format("woff2"), url("/fonts/Lato/Lato-Black.woff") format("woff"), url("/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: url("/fonts/Rubik/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("/fonts/Rubik/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Bold.woff2") format("woff2"), url("/fonts/Rubik/Rubik-Bold.woff") format("woff"), url("/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: url("/fonts/Rubik/Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("/fonts/Rubik/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Medium.woff2") format("woff2"), url("/fonts/Rubik/Rubik-Medium.woff") format("woff"), url("/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: url("/fonts/Rubik/Rubik-Regular.eot");
  src: local("Rubik Regular"), local("Rubik-Regular"), url("/fonts/Rubik/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Regular.woff2") format("woff2"), url("/fonts/Rubik/Rubik-Regular.woff") format("woff"), url("/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.is-scroll-disabled {
  height: 100%;
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: clamp(0.5rem, 0.409rem + 0.455vw, 0.75rem) clamp(1rem, 0.818rem + 0.909vw, 1.5rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4640DE;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  cursor: pointer;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}
.button:hover {
  color: #4640DE;
  background: transparent;
}
.button--transpanent {
  color: #4640DE;
  background: transparent;
}
.button--transpanent:hover {
  color: #FFFFFF;
  background: #4640DE;
}

.link {
  position: relative;
  color: #515B6F;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: font-weight 0.1s, color 0.3s;
  transition: font-weight 0.1s, color 0.3s;
}
.link:hover {
  color: #4640DE;
}
.link::before {
  content: "";
  width: 0;
  height: 4px;
  background-color: #4640DE;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  -webkit-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
}
.link:hover::before {
  width: 100%;
  left: 0;
}
.link--active {
  color: #4640DE;
  cursor: default;
}
.link--active::before {
  width: 100%;
  left: 0;
}

.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  fill: #4640DE;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.button-icon > svg {
  width: auto;
  height: 100%;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.input {
  padding: 12px 16px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border: 2px solid #D6DDEB;
  background: #FFFFFF;
  color: #4640DE;
}
.input:focus {
  outline: none;
  border-color: #4640DE;
}
.input::-webkit-input-placeholder {
  color: #A8ADB7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.input::-moz-placeholder {
  color: #A8ADB7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.input:-ms-input-placeholder {
  color: #A8ADB7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.input::-ms-input-placeholder {
  color: #A8ADB7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.input::placeholder {
  color: #A8ADB7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.input:focus::-webkit-input-placeholder {
  color: #25324B;
}
.input:focus::-moz-placeholder {
  color: #25324B;
}
.input:focus:-ms-input-placeholder {
  color: #25324B;
}
.input:focus::-ms-input-placeholder {
  color: #25324B;
}
.input:focus::placeholder {
  color: #25324B;
}

.link-plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.5rem, 0.318rem + 0.909vw, 1rem);
  padding: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #4640DE;
  color: #4640DE;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
}
.header__logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.5rem, -7.227rem + 13.636vw, 3rem);
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.125rem, -1.057rem + 3.409vw, 1.5rem);
}
.header__link::before {
  bottom: -2rem;
}
.header__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header__auth-container {
  display: none;
}
@media screen and (min-width: 656px) {
  .header__auth-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__auth-container--decor-line {
  margin: 0 clamp(0.75rem, -0.705rem + 2.273vw, 1rem);
  background: #D6DDEB;
  width: 2px;
}
.header__btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .header__btn-burger {
    display: none;
  }
}

.footer {
  background: #202430;
  padding: 64px 0 40px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.875rem, 1.42rem + 2.273vw, 3.125rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(25% - 150px);
          flex: 1 0 calc(25% - 150px);
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__text {
  color: #D6DDEB;
  font-size: 20px;
  line-height: 160%;
  min-width: clamp(16.25rem, 14.886rem + 6.818vw, 20rem);
}
.footer__title-menu {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 18px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(0.5rem, 0.318rem + 0.909vw, 1rem);
}
.footer__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__address-item > svg {
  fill: #26A4FF;
}
.footer__address-link {
  color: #A8ADB7;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.footer__address-link::before {
  height: 2px;
  left: 0;
}
.footer__address-link:hover::before {
  width: 100%;
  left: 0;
}
.footer__link {
  color: #D6DDEB;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  white-space: nowrap;
}
.footer__link::before {
  height: 2px;
  left: 0;
}
.footer__link:hover::before {
  width: 100%;
  left: 0;
}
.footer__item-text {
  max-width: 270px;
  margin-bottom: 30px;
  color: #D6DDEB;
  font-size: 16px;
  line-height: 160%;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.footer__form > input {
  width: 100%;
}
@media screen and (min-width: 460px) {
  .footer__form > input {
    width: 250px;
  }
}
.footer__decor-line {
  margin: clamp(2rem, 1.273rem + 3.636vw, 4rem) 0 clamp(1.25rem, 0.795rem + 2.273vw, 2.5rem);
  height: 2px;
  background: #363A45;
  border: none;
}
.footer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
@media screen and (min-width: 478px) {
  .footer__bottom-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__copyright {
  color: #8F9197;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.footer__social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.625rem, 0.307rem + 1.591vw, 1.5rem);
}
.footer__social-media-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background: #363A45;
  border-radius: 50%;
}
.footer__social-media-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #FFFFFF;
}
.footer__social-media-icon--fill {
  fill: #FFFFFF;
  stroke: none;
}

.hero-section {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: clamp(4.125rem, 3.216rem + 4.545vw, 6.625rem) 0 clamp(2.75rem, 2.068rem + 3.409vw, 4.625rem);
  background: #F8F8FD;
}
.hero-section::before {
  position: absolute;
  content: "";
  background: url(/images/decor-1.svg) no-repeat;
  background-position: left top;
  background-size: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: -50px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero-section::before {
    background-position: left center;
    background-size: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .hero-section::before {
    background-position: left bottom;
    background-size: 30%;
  }
}
.hero-section::after {
  position: absolute;
  content: "";
  background: url(/images/decor-2.svg) no-repeat;
  background-position: right bottom;
  background-size: 50%;
  width: 100%;
  height: 100%;
  top: -2%;
  left: 20%;
  z-index: -1;
}
@media screen and (min-width: 460px) {
  .hero-section::after {
    background-size: 40%;
  }
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.375rem, -0.034rem + 2.045vw, 1.5rem);
}
.hero-section__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(5.875rem, 3.739rem + 10.682vw, 11.75rem);
  height: clamp(5.875rem, 3.739rem + 10.682vw, 11.75rem);
  border-radius: 50%;
}
.hero-section__logo-container > img {
  height: 100%;
}
.hero-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero-section__head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.375rem, 0.239rem + 0.682vw, 0.75rem);
  margin-bottom: 12px;
}
.hero-section__head-container > .link-plate {
  font-size: clamp(0.875rem, 0.83rem + 0.227vw, 1rem);
  padding: clamp(0.125rem, 0.08rem + 0.227vw, 0.25rem) clamp(0.25rem, 0.068rem + 0.909vw, 0.75rem);
}
.hero-section__title {
  color: #25324B;
  font-family: "Lato";
  font-size: clamp(2rem, 1.636rem + 1.818vw, 3rem);
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.hero-section__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.625rem, 0.125rem + 2.5vw, 2rem);
  margin-bottom: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero-section__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.hero-section__address-item--stroke {
  fill: none;
  stroke: #4640DE;
}
.hero-section__address-item--fill {
  fill: #4640DE;
  stroke: none;
}
.hero-section__address-link {
  color: #4640DE;
  font-size: clamp(0.938rem, 0.915rem + 0.114vw, 1rem);
  font-weight: 600;
  line-height: 160%;
}
.hero-section__address-link::before {
  height: 2px;
}
.hero-section__info-list {
  display: none;
}
@media screen and (min-width: 580px) {
  .hero-section__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: clamp(1.125rem, 0.807rem + 1.591vw, 2rem);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hero-section__info-list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.5rem, -0.045rem + 2.727vw, 2rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 580px) {
  .hero-section__info-list-mobile {
    display: none;
  }
}
.hero-section__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(20% - 128px);
          flex: 1 0 calc(20% - 128px);
}
.hero-section__info-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 50%;
  background: #FFFFFF;
}
.hero-section__info-icon-container--stroke {
  fill: none;
  stroke: #26A4FF;
}
.hero-section__info-icon-container--fill {
  fill: #26A4FF;
  stroke: none;
}
.hero-section__info-item-content {
  color: #515B6F;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.hero-section__info-item-content--accent {
  color: #25324B;
  font-weight: 600;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #FFFFFF;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  height: 100%;
}
.mobile-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.mobile-menu__link {
  font-size: clamp(1.5rem, 1.386rem + 0.568vw, 1.75rem);
}
.mobile-menu__auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 36px;
}/*# sourceMappingURL=main.css.map */