$color-primary-brand: #4640DE;
$color-primary-dark: #202430;
$color-primary-text: #25324B;
$color-secondary-brand: #CCCCF5;
$color-secondary-gray: #F8F8FD;
$color-secondary-text: #D6DDEB;
$color-base: #FFFFFF;
$color-accent: #26A4FF;
$color-border: #D6DDEB;
$color-text: #515B6F;

$bp-desktop: 1200px;
$bp-small-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 460px;