$color-primary-blue: #001AC2;
$color-primary-gray: #8C8C8C;
$color-primary-ebony: #222222;
$color-primary-white: #FFFFFF;
$color-primary-black: #000000;
$color-secondary-white: #F3FCFF;
$color-background: #F6F6F6;

$bp-desktop: 1200px;
$bp-small-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 460px;