.bread-crumbs {
    position: absolute;
    left: 0;
    bottom: -72px;
    z-index: 2;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        padding-left: 20px;
    }

    &__item {
        &:not(:last-child)::after {
            content: '/';
            margin: 0 clamp(0.125rem, calc(0.08rem + 0.227vw), 0.25rem); // min: 2px, max: 4px
            color: #7C8493;
        }
    }

    &__link {
        color: #7C8493;
        font-family: 'Rubik';
        font-size: clamp(0.813rem, calc(0.744rem + 0.341vw), 1rem); // min: 13px, max: 16px
        font-style: normal;
        font-weight: 400;
        line-height: 160%;

        &--current {
            color: $color-primary-text;
        }
    }
}