.link {
    position: relative;
    color: $color-text;
    font-weight: 600;
    font-size: 16px;
    transition: font-weight .1s, color .3s;

    &:hover {
        color: $color-primary-brand;
    }

    &::before {
        content: '';
        width: 0;
        height: 4px;
        background-color: $color-primary-brand;
        position: absolute;
        bottom: -0.25rem;
        left: 50%;
        transition: width .3s, left .3s;
    }

    &:hover::before {
        width: 100%;
        left: 0;
    }

    &--active {
        color: $color-primary-brand;
        cursor: default;

        &::before {
            width: 100%;
            left: 0;
        }
    }
}