.pagination {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: clamp(0.75rem, calc(0.068rem + 3.409vw), 2.625rem); // min: 12px, max: 42px

    &__bullet {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $color-secondary-text;
        cursor: pointer;

        &--active {
            background-color: $color-primary-brand;
            cursor: default;
        }
    }
}