.service-section {
    padding: 72px 0;

    &__container {
        display: flex;
        flex-direction: column;
        gap: clamp(1.25rem, calc(1.159rem + 0.455vw), 1.5rem); // min: 20px, max: 24px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: clamp(1rem, calc(0.636rem + 1.818vw), 2rem); // min: 16px, max: 32px
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: clamp(0.5rem, calc(0.409rem + 0.455vw), 0.75rem); // min: 8px, max: 12px
        flex: 0 0 calc(100% / 6 - 32px * 5);

        @media screen and (min-width: $bp-desktop) {
            flex: 1 0 calc(100% / 6 - 32px * 5);
        }

        &:nth-child(2) {
            white-space: nowrap;
        }
    }

    &__icon {
        width: 48px;
        height: 48px;
        fill: $color-primary-brand;

        &--stroke {
            fill: none;
            stroke: $color-primary-brand;
        }
    }

    &__text {
        color: $color-primary-text;
        font-family: 'Lato';
        font-size: clamp(1.25rem, calc(1.159rem + 0.455vw), 1.5rem); // min: 20px, max: 24px
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
    }
}